*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
main > img{
    width: 100vw;
}
a{
    display: block;
    text-align: center;
    padding: 25px;
    background-color: firebrick;
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    background-color: red;
}